@import "tailwindcss";

:root {
    --toastify-color-info: #4355db;
    --toastify-color-dark: #3c3b5d;
}
.dummy {
    visibility: hidden;
}

@keyframes loader {
    0% {
        box-shadow: -38px -6px, -14px 6px,  14px -6px;
    }
    33% {
        box-shadow: -38px 6px, -14px -6px,  14px 6px;
    }
    66% {
        box-shadow: -38px -6px, -14px 6px, 14px -6px;
    }
    100% {
        box-shadow: -38px 6px, -14px -6px, 14px 6px;
    }
}














